@keyfram aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} 
.textoanimado {
    font-size: 30px;
    animation: aparecer 3s ease-in-out;
}
h1 {
    color: black;
    text align: center;
    
}
h2 {
    color: red;
    text align: center;
}
p {
    color: black;
}